/* Reseta o padding, margin e box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgba(104, 20, 19, 1) 0%, rgba(154, 25, 21, 1) 50%, rgb(227, 6, 19) 100%);
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Botão de alternância de tema */
#theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 30px;
  background-color: var(--vermelhoSenai);
  /* Cor inicial para o tema claro */
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  transition: background-color 0.5s ease, transform 0.3s ease;
}

#theme-toggle i {
  position: absolute;
  top: 15%;
  left: 35%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  user-select: none;
}

#theme-toggle .fa-sun {
  transform: translateX(0);
  opacity: 1;
}

#theme-toggle.dark .fa-sun {
  transform: translateX(-90%);
  /* Faz o fade out do sol */
  opacity: 0;
}

#theme-toggle .fa-moon {
  transform: translateX(150%);
  /* Faz o fade out da lua */
  opacity: 0;
}

#theme-toggle.dark .fa-moon {
  transform: translateX(0);
  opacity: 1;
}

/* ================================================================== */

/* TEMA ESCURO */

/* Cor do botão para o tema escuro */
#theme-toggle.dark {
  background-color: #222;
  /* Cor de fundo para o botão no tema escuro */
}

body.dark-theme {
  background: linear-gradient(90deg, #000000 0%, #555555 100%);
}

body.dark-theme .container {
  background-color: #212121;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body.dark-theme .container h1,
body.dark-theme .container label,
body.dark-theme footer  {
  color: var(--textoBranco);
}

body.dark-theme input {
  background-color: #363636;
  color: #eee;
  border: none;
}

body.dark-theme button {
  background-color: var(--vermelhoSenai);
  color: #eee;
}

footer {
  margin-top: 80px;
  color: white;
  font-weight: bold;
}

/* =====================
        VARIÁVEIS
===================== */
:root {
  --textoBranco: white;
  --vermelhoSenai: #E90000;
}