h2 {
    font-size: 3rem;
    display: flex;
    margin-left: 150px;
    padding: 50px;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: solid blue;
}

.graficos {
    background-color: white;
    border-radius: 15px;
    height: 400px;
    width: 600px;
}

.graficos h3 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 100px;
    z-index: 0;
}

#graficoPizza img {
    height: 100px;
    width: 150px;
    margin-left: 450px;
    z-index: 1;
}

#graficoBarra img {
    height: 210px;
    width: 550px;
    margin-left: 25px;
    z-index: 2
    ;
}

.botoesLaterais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 400px;
    width: 600px;
    gap: 10px;
}

.card {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}